node_modules
dist
.next
.turbo
.vercel
coverage
target
pnpm-lock.yaml

*.wasm
*.zkey
*.ptau
*.wtns
*.r1cs
*.sym
*.tsbuildinfo

packages/circuits/private_transfer/build
packages/circuits/private_transfer/output
apps/web/public/lottie/*.json
